<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <DisableAppDomain>True</DisableAppDomain>
  </RunConfiguration>
  <MSTest>
    <!-- Do not run the test assemblies in parallel since they could interfere each other. -->
    <DisableParallelization>true</DisableParallelization>
  </MSTest>

  <DataCollectionRunSettings>
    <DataCollectors>
      <!-- .NET command-line coverage tool -->
      <!-- https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md -->
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,lcov</Format>
          <Include>[OpenDDSharp*]OpenDDSharp.*</Include>
          <Exclude>[TestIdl]*,[*]OpenDDSharp.BuildTasks[*],[*]OpenDDSharp.UnitTest[*],[TestSupportProcessCore]*,[*]BenchmarkPerformance[*],[*]OpenDDSharp.Doc[*]</Exclude>
          <ExcludeByAttribute>GeneratedCodeAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <UseSourceLink>true</UseSourceLink>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
