<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <DisableAppDomain>True</DisableAppDomain>
  </RunConfiguration>
  <MSTest>
    <!-- 0 = As many processes as possible, limited by number of cores on machine, 1 = Sequential (1 process)-->
    <MaxCpuCount>1</MaxCpuCount>
    <!-- Do not run the test assemblies in parallel since they could interfere each other. -->
    <DisableParallelization>true</DisableParallelization>
  </MSTest>

  <DataCollectionRunSettings>
    <DataCollectors>
      <!-- .NET command-line coverage tool -->
      <!-- https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md -->
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,lcov</Format>
          <Include>[OpenDDSharp]*</Include>
          <Exclude>[TestIdlJson]*,[TestIdlCdr]*,[OpenDDSharp.BuildTasks]*,[OpenDDSharp.Marshaller]*,[OpenDDSharp.Native]*,[OpenDDSharp.Templates]*,[BenchmarkPerformance]*,[OpenDDSharp.UnitTest]*,[TestSupportProcessCore]*,[OpenDDSharp.Doc]*</Exclude>
          <ExcludeByAttribute>GeneratedCodeAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <SingleHit>true</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>true</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>false</DeterministicReport>
          <ExcludeAssembliesWithoutSources>MissingAll,MissingAny,None</ExcludeAssembliesWithoutSources>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <InProcDataCollectionRunSettings>
    <InProcDataCollectors>
      <InProcDataCollector assemblyQualifiedName="Coverlet.Collector.DataCollection.CoverletInProcDataCollector, coverlet.collector, Version=6.0.4, Culture=neutral, PublicKeyToken=null"
                           friendlyName="XPlat Code Coverage"
                           enabled="True"
                           codebase="coverlet.collector.dll" />
      </InProcDataCollectors>
  </InProcDataCollectionRunSettings>
</RunSettings>
