<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <dllmap dll="OpenDDSWrapper" target="libOpenDDSWrapper.dylib" />
    <dllmap dll="TestIdlStandardWrapper" target="libTestIdlStandardWrapper.dylib" />
    <dllmap dll="ACE" target="libACE.dylib" />
    <dllmap dll="OpenDDS_Dcps" target="libOpenDDS_Dcps.dylib" />
    <dllmap dll="OpenDDS_InfoRepoDiscovery" target="libOpenDDS_InfoRepoDiscovery.dylib" />
    <dllmap dll="OpenDDS_InfoRepoLib" target="libOpenDDS_InfoRepoLib.dylib" />
    <dllmap dll="OpenDDS_Multicast" target="libOpenDDS_Multicast.dylib" />
    <dllmap dll="OpenDDS_Rtps_Udp" target="libOpenDDS_Rtps_Udp.dylib" />
    <dllmap dll="OpenDDS_Rtps" target="libOpenDDS_Rtps.dylib" />
    <dllmap dll="OpenDDS_Shmem" target="libOpenDDS_Shmem.dylib" />
    <dllmap dll="OpenDDS_Tcp" target="libOpenDDS_Tcp.dylib" />
    <dllmap dll="OpenDDS_Udp" target="libOpenDDS_Udp.dylib" />
    <dllmap dll="TAO_AnyTypeCode" target="libTAO_AnyTypeCode.dylib" />
    <dllmap dll="TAO_BiDirGIOP" target="libTAO_BiDirGIOP.dylib" />
    <dllmap dll="TAO_CodecFactory" target="libTAO_CodecFactory.dylib" />
    <dllmap dll="TAO_PI" target="libTAO_PI.dylib" />
    <dllmap dll="TAO_PortableServer" target="libTAO_PortableServer.dylib" />
    <dllmap dll="TAO_Valuetype" target="libTAO_Valuetype.dylib" />
    <dllmap dll="TAO" target="libTAO.dylib" />
</configuration>