<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <dllmap dll="OpenDDSWrapper" target="libOpenDDSWrapper.dylib" os="osx" />
    <dllmap dll="TestIdlStandardWrapper" target="libTestIdlStandardWrapper.dylib" os="osx" />
    <dllmap dll="ACE" target="libACE.dylib" os="osx" />
    <dllmap dll="OpenDDS_Dcps" target="libOpenDDS_Dcps.dylib" os="osx" />
    <dllmap dll="OpenDDS_InfoRepoDiscovery" target="libOpenDDS_InfoRepoDiscovery.dylib" os="osx" />
    <dllmap dll="OpenDDS_InfoRepoLib" target="libOpenDDS_InfoRepoLib.dylib" os="osx" />
    <dllmap dll="OpenDDS_Multicast" target="libOpenDDS_Multicast.dylib" os="osx" />
    <dllmap dll="OpenDDS_Rtps_Udp" target="libOpenDDS_Rtps_Udp.dylib" os="osx" />
    <dllmap dll="OpenDDS_Rtps" target="libOpenDDS_Rtps.dylib" os="osx" />
    <dllmap dll="OpenDDS_Shmem" target="libOpenDDS_Shmem.dylib" os="osx" />
    <dllmap dll="OpenDDS_Tcp" target="libOpenDDS_Tcp.dylib" os="osx" />
    <dllmap dll="OpenDDS_Udp" target="libOpenDDS_Udp.dylib" os="osx" />
    <dllmap dll="TAO_AnyTypeCode" target="libTAO_AnyTypeCode.dylib" os="osx" />
    <dllmap dll="TAO_BiDirGIOP" target="libTAO_BiDirGIOP.dylib" os="osx" />
    <dllmap dll="TAO_CodecFactory" target="libTAO_CodecFactory.dylib" os="osx" />
    <dllmap dll="TAO_PI" target="libTAO_PI.dylib" os="osx" />
    <dllmap dll="TAO_PortableServer" target="libTAO_PortableServer.dylib" os="osx" />
    <dllmap dll="TAO_Valuetype" target="libTAO_Valuetype.dylib" os="osx" />
    <dllmap dll="TAO" target="libTAO.dylib" os="osx" />

    <dllmap dll="OpenDDSWrapper" target="libOpenDDSWrapper.so" os="linux" />
    <dllmap dll="TestIdlStandardWrapper" target="libTestIdlStandardWrapper.so" os="linux" />
    <dllmap dll="ACE" target="libACE.so" os="linux" />
    <dllmap dll="OpenDDS_Dcps" target="libOpenDDS_Dcps.so" os="linux" />
    <dllmap dll="OpenDDS_InfoRepoDiscovery" target="libOpenDDS_InfoRepoDiscovery.so" os="linux" />
    <dllmap dll="OpenDDS_InfoRepoLib" target="libOpenDDS_InfoRepoLib.so" os="linux" />
    <dllmap dll="OpenDDS_Multicast" target="libOpenDDS_Multicast.so" os="linux" />
    <dllmap dll="OpenDDS_Rtps_Udp" target="libOpenDDS_Rtps_Udp.so" os="linux" />
    <dllmap dll="OpenDDS_Rtps" target="libOpenDDS_Rtps.so" os="linux" />
    <dllmap dll="OpenDDS_Shmem" target="libOpenDDS_Shmem.so" os="linux" />
    <dllmap dll="OpenDDS_Tcp" target="libOpenDDS_Tcp.so" os="linux" />
    <dllmap dll="OpenDDS_Udp" target="libOpenDDS_Udp.so" os="linux" />
    <dllmap dll="TAO_AnyTypeCode" target="libTAO_AnyTypeCode.so" os="linux" />
    <dllmap dll="TAO_BiDirGIOP" target="libTAO_BiDirGIOP.so" os="linux" />
    <dllmap dll="TAO_CodecFactory" target="libTAO_CodecFactory.so" os="linux" />
    <dllmap dll="TAO_PI" target="libTAO_PI.so" os="linux" />
    <dllmap dll="TAO_PortableServer" target="libTAO_PortableServer.so" os="linux" />
    <dllmap dll="TAO_Valuetype" target="libTAO_Valuetype.so" os="linux" />
    <dllmap dll="TAO" target="libTAO.so" os="linux" />
</configuration>