<?xml version="1.0" encoding="utf-8"?>

<!-- Required configuration for mono support -->
<configuration>
    <dllmap dll="OpenDDSWrapper.dll" target="libOpenDDSWrapper.dylib" os="osx" />
    <dllmap dll="libTestIdlJsonWrapper.dll" target="libTestIdlJsonWrapper.dylib" os="osx" />
    <dllmap dll="ACE.dll" target="libACE.dylib" os="osx" />
    <dllmap dll="OpenDDS_Dcps.dll" target="libOpenDDS_Dcps.dylib" os="osx" />
    <dllmap dll="OpenDDS_InfoRepoDiscovery.dll" target="libOpenDDS_InfoRepoDiscovery.dylib" os="osx" />
    <dllmap dll="OpenDDS_InfoRepoLib.dll" target="libOpenDDS_InfoRepoLib.dylib" os="osx" />
    <dllmap dll="OpenDDS_Multicast.dll" target="libOpenDDS_Multicast.dylib" os="osx" />
    <dllmap dll="OpenDDS_Rtps_Udp.dll" target="libOpenDDS_Rtps_Udp.dylib" os="osx" />
    <dllmap dll="OpenDDS_Rtps.dll" target="libOpenDDS_Rtps.dylib" os="osx" />
    <dllmap dll="OpenDDS_Shmem.dll" target="libOpenDDS_Shmem.dylib" os="osx" />
    <dllmap dll="OpenDDS_Tcp.dll" target="libOpenDDS_Tcp.dylib" os="osx" />
    <dllmap dll="OpenDDS_Udp.dll" target="libOpenDDS_Udp.dylib" os="osx" />
    <dllmap dll="TAO_AnyTypeCode.dll" target="libTAO_AnyTypeCode.dylib" os="osx" />
    <dllmap dll="TAO_BiDirGIOP.dll" target="libTAO_BiDirGIOP.dylib" os="osx" />
    <dllmap dll="TAO_CodecFactory.dll" target="libTAO_CodecFactory.dylib" os="osx" />
    <dllmap dll="TAO_PI.dll" target="libTAO_PI.dylib" os="osx" />
    <dllmap dll="TAO_PortableServer.dll" target="libTAO_PortableServer.dylib" os="osx" />
    <dllmap dll="TAO_Valuetype.dll" target="libTAO_Valuetype.dylib" os="osx" />
    <dllmap dll="TAO.dll" target="libTAO.dylib" os="osx" />

    <dllmap dll="OpenDDSWrapper.dll" target="libOpenDDSWrapper.so" os="linux" />
    <dllmap dll="TestIdlJsonWrapper.dll" target="libTestIdlJsonWrapper.so" os="linux" />
    <dllmap dll="ACE.dll" target="libACE.so.6.5.19" os="linux" />
    <dllmap dll="OpenDDS_Dcps.dll" target="libOpenDDS_Dcps.so.3.25-dev" os="linux" />
    <dllmap dll="OpenDDS_InfoRepoDiscovery.dll" target="libOpenDDS_InfoRepoDiscovery.so.3.25-dev" os="linux" />
    <dllmap dll="OpenDDS_InfoRepoLib.dll" target="libOpenDDS_InfoRepoLib.so.3.25-dev" os="linux" />
    <dllmap dll="OpenDDS_Multicast.dll" target="libOpenDDS_Multicast.so.3.25-dev" os="linux" />
    <dllmap dll="OpenDDS_Rtps_Udp.dll" target="libOpenDDS_Rtps_Udp.so.3.25-dev" os="linux" />
    <dllmap dll="OpenDDS_Rtps.dll" target="libOpenDDS_Rtps.so.3.25-dev" os="linux" />
    <dllmap dll="OpenDDS_Shmem.dll" target="libOpenDDS_Shmem.so.3.25-dev" os="linux" />
    <dllmap dll="OpenDDS_Tcp.dll" target="libOpenDDS_Tcp.so.3.25-dev" os="linux" />
    <dllmap dll="OpenDDS_Udp.dll" target="libOpenDDS_Udp.so.3.25-dev" os="linux" />
    <dllmap dll="TAO_AnyTypeCode.dll" target="libTAO_AnyTypeCode.so.2.5.19" os="linux" />
    <dllmap dll="TAO_BiDirGIOP.dll" target="libTAO_BiDirGIOP.so.2.5.19" os="linux" />
    <dllmap dll="TAO_CodecFactory.dll" target="libTAO_CodecFactory.so.2.5.19" os="linux" />
    <dllmap dll="TAO_PI.dll" target="libTAO_PI.so.2.5.19" os="linux" />
    <dllmap dll="TAO_PortableServer.dll" target="libTAO_PortableServer.so.2.5.19" os="linux" />
    <dllmap dll="TAO_Valuetype.dll" target="libTAO_Valuetype.so.2.5.19" os="linux" />
    <dllmap dll="TAO.dll" target="libTAO.so.2.5.19" os="linux" />
</configuration>